main {
  max-width: 45rem;
  margin: 3rem auto;
  padding: 1rem;
  background-color: var(--background-dark);
  border-radius: 1rem;
  box-shadow: 0px 0px 0.8rem rgba(0,0,0,0.7);
  box-sizing: border-box;
}

.challenges_section{
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}